html, body, ul, li, p { margin:0; padding:0; }
html { height:100%; background:#353840; }
a { color:#555; text-decoration:none; }
#page { background:#353840; overflow:hidden; }

/* 로고 영역 CSS */
.header { border-bottom:1px solid #bbb; background:#fff; }
.header.sub { border-bottom:1px solid #f1f1f1; }
.header .top { overflow:hidden; position:relative; }
.header .top .logo { padding:12px 0 10px; float:left; margin:0 0 0 55px; }
.header .top .logo img { height:20px; }
.header .top .logo span { color:#333; line-height:20px; position:relative; top:1px; font-size:14px; font-weight:bold; }

/* 사이드 메뉴 호출버튼 CSS */
.header .top  .xdtSideMenu { height:22px; width:44px; position:absolute; top:11px; left:0; display:inline-block; border-right:1px solid #c0c0c0; }
.header .top  .xdtSideMenu .xdtBar,
.mm-opened .header .top  .xdtSideMenu .xdtBar { width:20px; height:14px;position:relative; top:4px; left:12px; }
.header .top  .xdtSideMenu .xdtBar div { height:0; border-top:2px solid #383431; position:absolute; transition:all 0.2s;  }
.mm-opened .header .top  .xdtSideMenu .xdtBar div { height:0; border-top:2px solid #383431 ; position:absolute; transition:all 0.2s; }
.header .top  .xdtSideMenu .xdtBar div.btn1 { width:20px; top:0; }
.header .top  .xdtSideMenu .xdtBar div.btn2 { width:20px; top:6px; transition:all 0.1s }
.header .top  .xdtSideMenu .xdtBar div.btn3 { width:20px; bottom:0; }
.mm-opened .header .top  .xdtSideMenu .xdtBar div.btn1 { top:6px; width:20px; -webkit-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg); }
.mm-opened .header .top  .xdtSideMenu .xdtBar div.btn2 { top:6px; display:none; }
.mm-opened .header .top  .xdtSideMenu .xdtBar div.btn3 { top:6px; width:20px; -webkit-transform:rotate(-45deg); -o-transform:rotate(-45deg); transform:rotate(-45deg); }

/* 검색창 영역 CSS */
.header .top .xdtBtnSearch { width:44px; height:44px; background:url(../img/btSearch.png) no-repeat center center; float:right; background-size:18px; padding:0 1px 0 0; }
.header .xdtSearch { padding:5px 10px; border-top:1px solid #f9f9f9; display:none; position:relative; overflow:hidden; }
.header .xdtSearch .inputSearch { position:relative; border:1px solid #dcdcdc; overflow:hidden; }
.header .xdtSearch .inputSearch input[type="search"] { display:block; border:0; width:100%; box-sizing:border-box; line-height:30px; height:30px; padding:0 30px 0 5px; font-size:12px; outline:0; }
.header .xdtSearch .inputSearch input[type="reset"] { position:absolute; right:0; top:0; width:14px; margin:8px; height:14px; border:0; background:url(../img/btReset.png); color:transparent; font-size:1px; background-size:14px; }
.header .xdtSearch .inputSubmit { float:right; background:#dcdcdc; border:1px solid #dcdcdc; height:30px; }
.header .xdtSearch .inputSubmit input[type="submit"] { border:0; background:transparent; height:30px; padding:1px 10px; margin:0; color:#fff; }
/*
.header .xdtSearch div { margin:0 60px 0 0; border:1px solid #dcdcdc; position:relative; }
.header .xdtSearch div input[type="search"].inputText { border:0; outline:0; width:100%; box-sizing:border-box; margin:0 30px 0 0; padding:5px; }
.header .xdtSearch div input[type="reset"] { position:absolute; right:5px; top:3px; outline:0; display:inline-block; width:17px; height:17px; border:0; background:url(../img/btReset.png); color:transparent; font-size:1px; background-size:17px; }
.header .xdtSearch input[type="submit"] { position:absolute; right:10px; top:5px; width:60px; height:26px; padding:2px 0 0 0; color:#fff; display:inline-block; border:0; outline:0; }

*/


/* 메인 슬라이드 메뉴 CSS */
.header .mainNavi { border-top:1px solid #f9f9f9; list-style:none; overflow:hidden; top:1px; position:relative; }
.header .mainNavi li { text-align:center; float:left; padding:10px 0 7px 0; font-size:1.1em; }
.header .mainNavi li.act { border-bottom:4px solid; }
.header .mainNavi li.act.green { border-color:#1eb501; color:#1eb501 }
.header .mainNavi li.act.xe { border-color:#4F68C0; color:#526bbe; }
.header .mainNavi li.act.gray { border-color:#ccc; color:#ccc; }
.header .mainNavi li.act.blue { border-color:#0088cc; color:#0088cc; }
.header .mainNavi li.act.skyblue { border-color:#84accb; color:#84accb; }
.header .mainNavi li.act.red { border-color:#fe8505; color:#fe8505; }
.header .mainNavi li.act.pink { border-color:#ee80c3; color:#ee80c3; }


/* 사이트맵 메뉴 CSS */
.header .mapNavi { overflow:hidden; list-style:none; padding:0; margin:0; }
.header .mapNavi li { float:left; width:25%; height:53px; }
.header .mapNavi li a { display:block; text-align:center; border-top:1px solid #ddd; border-right:1px solid #ddd; }
.header .mapNavi li:nth-child(1) a,
.header .mapNavi li:nth-child(2) a,
.header .mapNavi li:nth-child(3) a,
.header .mapNavi li:nth-child(4) a { border-top:1px solid #ddd; }
.header .mapNavi li:nth-child(4n) a { border-right:0; }
.header .mapNavi li.active { font-weight:bold; color:#526bbe; }
.header .mapNavi li span { display:block; padding:3px 0 0 0; }
.header .mapNavi li span.img img { height:30px; }
.header .mapNavi li span.img { height:30px; }
.header .mapNavi li span.txt { padding:3px 0 3px 0; }
.header .mapNavi li span.only { height:50px; line-height:50px; }

/* 사이드메뉴 CSS */
#menu { background:#444; font-family:sans-serif; display:none; }
#menu.mm-menu { display:none; }
#menu.mm-menu.mm-opened { display:block; }
#menu .xdtMemberL {  }
#menu .xdtMemberL .xdtMemberLinfo { height:37px; background:#333; padding:6px 10px 5px 10px; }
#menu .xdtMemberL .xdtMemberLinfo img { height:26px; margin:2px 0; float:left; background:#fff; border:3px solid #fff; border-radius:20px; }
#menu .xdtMemberL .xdtMemberLinfo span { float:left; line-height:36px; color:#fff; padding:0 0 0 10px; font-size:1.2em; }
#menu .xdtMemberL .xdtMemberLelse { list-style:none; padding:10px 10px 10px 0; margin:0; overflow:hidden; }
#menu .xdtMemberL .xdtMemberLelse li { width:50%; box-sizing:border-box; float:left; padding:0 0 0 10px; }
#menu .xdtMemberL .xdtMemberLelse li a { display:block; text-align:center; padding:5px 0; color:#ddd; border:1px solid #aaa; border-radius:3px; font-size:1em; }

#menu .xdtGnb { list-style:none; padding:0; margin:0; }
#menu .xdtGnb>li>a { border-top:1px solid #333; border-bottom:1px solid #333; font-size:0.9em; display:block; padding:4px 10px 2px 10px; color:#bbb; }
#menu .xdtGnb>li>a.mm-subopen { display:none; }
#menu .xdtGnb>li>ul {  }
#menu .xdtGnb>li>ul li a { padding:10px; color:#f1f1f1; display:block; font-size:1.2em; }
#menu .xdtGnb>li>ul li a span.o { display:inline-block; width:7px; height:7px; background:#999; position:relative; top:-4px; left:0px; margin:0 8px 0 0; }
#menu .xdtGnb>li>ul li a span.i { display:inline-block; width:6px; height:6px; background:#444; position:absolute; top:0; left:1px; }
#menu .xdtGnb>li>ul li.active { background:#333; }

.subBody { overflow:hidden; background:#fff; }


/* 메인 슬라이드 본문 CSS */
.bodyMain .swipe { overflow: hidden; visibility: hidden; position: relative; background:#f4f4f4; }
.bodyMain .swipe-wrap { overflow: hidden; position: relative; margin:0 !important; padding:0 !important; display:block; list-style:none; }
.bodyMain .swipe-wrap > div { float:left; width:100%; position: relative; margin:0; padding:5px !important; box-sizing:border-box; }


.body { background:#fff; }

/* 푸터 CSS */
.footer { padding:0 0 30px 0; }
.footer .tool_menu { overflow:hidden; list-style:none; padding:0; margin:0; border-top: 1px solid #26292e; border-bottom: 1px solid #26292e; }
.footer .tool_menu li { float:left; width:25%; background:#3d4049; text-align:center; }
.footer .tool_menu li a { color:#c3c3c3; display:block; line-height:30px; border-right: 1px solid #26292e; white-space:nowrap; }
.footer .tool_menu li:last-child {  border-right:0; }

.footer .footer_menu { text-align:center; padding:0; margin:10px 0 5px 0; list-style:none; }
.footer .footer_menu li { display:inline-block; border-left:1px solid #45484d; margin:5px 0; }
.footer .footer_menu li:first-child { border-left:0; }
.footer .footer_menu li a { display:block; color:#9e9e9e; padding:0 7px; }

.footer .copy { color:#9e9e9e; text-align:center; line-height:20px; } 