@charset "utf-8";

#login-form fieldset {
	margin: 0.5em;
	padding: 1.0em;
	border: 1px solid #ccc;
	background: #f4f4f4;
}

#login-form legend {
	font-weight: bold;
}

#login-form input[type=text], #login-form input[type=password] {
	background-color: white;
	color: #666;
	border: 1px solid #ccc;
	width: 100px;
}

#login-form input[type=text]:focus { background-color: white; color: black; }

#login-form input[type=password]:focus { background-color: #fcfce8; color: #A7810E; }

#login-form p { margin-bottom: 3px; }

#login-form label {
	float: left;
	width: 5em;
}

.error {
	background: transparent url(../images/emblem-important.png) no-repeat 4px center;
	color: #c03;
	padding: 4px 5px 5px 22px;
}
