@charset "utf-8";
/* fixed KAIST ARA source code */

body {
        height: 100%;
        overflow: hidden;
        background: url(/tools/exam/files/background.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
/* http://jsfiddle.net/xdUBZ/1/ - 배경화면을 슬라이드로 바꿀 예정*/

.eng { font-family:Helvetica,Arial,sans-serif; }

a:link { color:#666; text-decoration:none; }
a:visited { color:#666; text-decoration:none; }
a:hover { color:#333; text-decoration:underline; }

/* styles for the layout */
#linksModalBG { background:#ccc; opacity:0.75; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);  } /* opacity settings for CSS3 / IE  */
#linksModal .modalWindow { background:#fff; border:1px #666 solid; -moz-box-shadow: 0 10px 15px #444; -webkit-box-shadow: 0 10px 15px #444; box-shadow: 0 10px 15px #444; }
#linksModal .modalTitle { background:#666; color:#fff; }
#linksModal .modalWindow ul li a { border-bottom:1px #dadada solid; }

#topLinksDiv { position:absolute; z-index:2; }
#topLinks { font-family:Helvetica,Arial,sans-serif; color:#cccccc; background:#4d4d4d; border-color:#000000; }
#topLinks a:link { color:#ffffff; text-decoration:none; }
#topLinks a:visited { color:#ffffff; text-decoration:none; }
#topLinks a:hover { color:#ffffff; text-decoration:underline; }
#topLinks .kaist a:link { color:#fff; text-decoration:none; }
#topLinks .kaist a:visited { color:#fff; text-decoration:none; }
#topLinks .kaist a:hover { color:#ccc; text-decoration:underline; }

#contents { background:#ffffff; }
#contents .boardDisp { color:#8e8e8e; }

#footer { color:#aaa; -moz-text-shadow: 1px 1px 0 #333; -webkit-text-shadow: 1px 1px 0 #333; text-shadow: 1px 1px 0 #333; }
#footer a:link { color:#ccc; text-decoration:none; }
#footer a:visited { color:#ccc; text-decoration:none; }
#footer a:hover { color:#aaa; text-decoration:underline; }

#upgradeBrowser { background:#eaeaea;}

.paging a.selected { color:#ffffff; background:#666; }

.mainBody .mainItem .header { border-bottom: 1px black solid; }
.mainBody .mainItem .headerBest { background-color:#333; color:white; border: 0; }
.mainBody .mainItem .header a { color:black; }
.mainBody .mainItem .title a { color:black; }

#signInModal { z-index:1; background:url(/media/image/stealBlue/b_signin.png) bottom right no-repeat; }
#signInModal .modalWindow { background:#fff; -moz-box-shadow: 0 10px 20px #444; -webkit-box-shadow: 0 10px 20px #444; box-shadow: 0 10px 20px #444; }
#signInModal .modalWindow>.aboutAra .desc { color:#666; }
#signInModal .modalWindow>.signInInput #signIn .etc a { color:#333; text-decoration:underline; }
#signInModal .modalWindow>.signInInput #signIn .signInInput { border:1px #dadada solid; }
#signInModal .modalWindow>.signInInput #signIn .submitButton input { border:0; background:#666; color:#fff; }